common:
  env: dev
  replicas: 1

ingress:
  domainName: -gcp2.dev.entur.io

sql:
  instance: ent-nabu-dev:europe-west1:nabu-db-pg13

configMap:
  pubsubProjectId:  ent-nabu-dev

  organisation:
    service: http://baba.dev.entur.internal

  provider:
    service: http://nanna.dev.entur.internal

  auth0:
    partner:
      url: https://partner.dev.entur.org/
      audience: https://api.dev.entur.io,https://ror.api.dev.entur.io

  roleAssignmentExtractor: baba

  oauth2:
    client:
      id: v1mVZ7K1TvGcFWDXCvHjKwj4ElYIhOyE
      url: https://internal.dev.entur.org/oauth/token
      audience: https://ror.api.dev.entur.io
  mail:
    stopPlace: https://stoppested-test.entur.org/
    routedb: https://rutedb.dev.entur.org/
    notificationFrom: varsel-test@entur.org
    operator: https://operator-test.entur.org/
