common:
  env: tst
  replicas: 1

ingress:
  domainName: -gcp2.staging.entur.io

sql:
  instance: ent-nabu-tst:europe-west1:nabu-db-pg13

configMap:
  pubsubProjectId: ent-nabu-tst

  organisation:
    service: http://baba.tst.entur.internal

  provider:
    service: http://nanna.tst.entur.internal

  auth0:
    partner:
      url: https://partner.staging.entur.org/
      audience: https://api.staging.entur.io,https://portal.staging.entur.org

  roleAssignmentExtractor: baba

  oauth2:
    client:
      id: AQMH9Zwwe94P5hFgpspdkoERtgrQrViK
      url: https://internal.staging.entur.org/oauth/token
      audience: https://api.staging.entur.io
  mail:
    stopPlace: https://stoppested-stage.entur.org/
    routedb: https://rutedb.staging.entur.org/
    notificationFrom: varsel-stage@entur.org
    operator: https://operator-stage.entur.org/


