common:
  env: prd
  replicas: 1


ingress:
  domainName: -gcp2.entur.io

sql:
  instance: ent-nabu-prd:europe-west1:nabu-db-pg13

configMap:
  pubsubProjectId: ent-nabu-prd

  organisation:
    service: http://baba.prd.entur.internal

  provider:
    service: http://nanna.prd.entur.internal

  auth0:
    partner:
      url: https://partner.entur.org/
      audience: https://api.entur.io,https://ror.api.entur.io

  roleAssignmentExtractor: baba

  oauth2:
    client:
      id: UMNw5ExoUKIVDo8HHgYDYJp64wRcphls
      url: https://internal.entur.org/oauth/token
      audience: https://api.entur.io
  mail:
    stopPlace: https://stoppested.entur.org/
    routedb: https://rutedb.entur.org/
    notificationFrom: varsel@entur.org
    operator: https://operator.entur.org/

