<?xml version="1.0" encoding="UTF-8"?>

<!--

  ~ Licensed under the EUPL, Version 1.2 or – as soon they will be approved by

  ~ the European Commission - subsequent versions of the EUPL (the "Licence");

  ~ You may not use this work except in compliance with the Licence.

  ~ You may obtain a copy of the Licence at:

  ~

  ~   https://joinup.ec.europa.eu/software/page/eupl

  ~

  ~ Unless required by applicable law or agreed to in writing, software

  ~ distributed under the Licence is distributed on an "AS IS" basis,

  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.

  ~ See the Licence for the specific language governing permissions and

  ~ limitations under the Licence.

  -->

<configuration>
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <!-- default console pattern plus marker -->
    <property name="CONSOLE_LOG_PATTERN"
              value="${CONSOLE_LOG_PATTERN:-%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %marker%n}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <!-- https://logback.qos.ch/manual/appenders.html#AsyncAppender -->
        <discardingThreshold>0</discardingThreshold>
        <maxFlushTime>0</maxFlushTime>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
    <logger name="org.crsh.plugin" level="WARN"/>
    <logger name="org.crsh.ssh" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>
    <logger name="org.springframework.boot.actuate.autoconfigure.CrshAutoConfiguration" level="WARN"/>

    <logger name="com.google.cloud.spring.core.DefaultCredentialsProvider" level="ERROR"/>
    <logger name="com.google.auth.oauth2.DefaultCredentialsProvider" level="ERROR"/>

    <logger name="no.rutebanken" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE-ASYNC"/>
    </root>

</configuration>
